* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* NavBar */
.nav-link {
  color: #e7b3b3;
}

/* Footer */
footer nav {
  height: 80px;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #f8f9fa;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.img-redes {
  width: 15%;
}
.iconos-redes ul {
  list-style: none;
  padding: 0 0 0 12px;
  margin: 0;
}
.iconos-redes ul a {
  text-decoration: none;
}
.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu ul li {
  word-spacing: 50px;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #e7b3b3;
  padding: 5px;
}
.footer-menu ul li a:hover {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: #e7b3b3;
  transition: 0.5s;
}

.footer-logo {
  padding: 0 12px;
}
.footer-copy p {
  font-size: 10px;
  display: flex;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 5px 15px;
  font-weight: bold;
}
/* Main */
/* INDEX */
.container-index {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
.fila-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fila-1 h2 {
  text-align: center;
  color: #e7b3b3;
  margin: 0;
  padding: 0 15px;
}
.fila-1 p {
  text-align: center;
  margin: 50px 400px;
}
.fila-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fila-2 img {
  padding-right: 3px;
}
.fila-2 h2 {
  text-align: center;
  color: #e7b3b3;
  margin: 0;
  padding: 0 15px;
}
.fila-2 p {
  text-align: center;
  margin: 50px 400px;
}
.fila-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fila-3 h2 {
  text-align: center;
  color: #e7b3b3;
  margin: 0;
  padding: 0 15px;
}
.fila-3 p {
  text-align: center;
  margin: 50px 400px;
}

/* NOSOTROS */
.grid-container {
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.one-grid {
  grid-column: 1/2;
  background-color: #f0efef;
}

.one-grid h1 {
  color: #e7b3b3;
  font-family: "monotype corsiva";
  font-size: 30px;
}

.two-grid {
  background-color: #f0efef;
  grid-column: 2/3;
  text-align: center;
  color: black;
  font-family: "Tahoma";
}

.horarios h1 {
  margin-top: 35px;
  font-weight: lighter;
}

.horarios h1 span {
  font-weight: 700;
  color: #e7b3b3;
  font-size: 30px;
  font-family: "Tahoma";
}

.horarios h2 {
  text-decoration: underline black 1px;
}

.horarios p {
  line-height: 35px;
}

.horarios a h4 {
  display: inline;
  padding: 7px;
  border-radius: 5px;
}

.horarios a {
  text-decoration: none;
  color: #e7b3b3;
}

.horarios a h4:hover {
  background-color: #e7b3b3;
  color: white;
  transition: 0.5s;
}

/* 3 COLUMNAS CON HISTORIA*/
.grid-container-two {
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  margin-bottom: 100px;
  text-align: center;
  gap: 10px;
}

.three-grid {
  color: black;
  background-color: #f0efef;
  opacity: 1;
  grid-column: 1/2;
  padding: 130px;
  font-family: "Gill Sans MT";
}

.img_nosotros {
  position: relative;
  bottom: 20px;
}

.three-grid p {
  margin: 0px 16px;
}

.four-grid {
  color: black;
  background-color: #f0efef;
  opacity: 1;
  grid-column: 2/3;
  padding: 130px;
  font-family: "Gill Sans MT";
}
.five-grid {
  color: black;
  background-color: #f0efef;
  opacity: 1;
  grid-column: 3/4;
  text-align: center;
  padding: 130px;
  font-family: "Gill Sans MT";
}
/* Galeria */
.container-galeria {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.container-galeria img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container-galeria img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  top: 50px;
}

.galeria-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.galeria-1 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  top: 50px;
  left: 82px;
}

.galeria-2 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.galeria-3 {
  grid-column: 4/6;
  grid-row: 1/2;
}

.galeria-4 {
  grid-column: 6/8;
  grid-row: 1/2;
}
.galeria-4 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  top: 50px;
  right: 82px;
}
.galeria-5 {
  grid-column: 1/4;
  grid-row: 2/3;
}
.galeria-5 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  left: 124px;
}
.galeria-6 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.galeria-7 {
  grid-column: 5/6;
  grid-row: 2/3;
}
.galeria-8 {
  grid-column: 6/8;
  grid-row: 2/3;
}
.galeria-8 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  right: 82px;
}
.galeria-9 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.galeria-9 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  left: 82px;
  top: -50px;
}
.galeria-10 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.galeria-10 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  top: -50px;
}
.galeria-11 {
  grid-column: 4/7;
  grid-row: 3/4;
}
.galeria-11 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  top: -50px;
}
.galeria-12 {
  grid-column: 7/8;
  grid-row: 3/4;
}
.galeria-12 img:hover {
  transform: scale(1.3);
  border: 4px solid white;
  transition: 3s;
  position: relative;
  right: 43px;
  top: -50px;
}

/* Media Query Mobile */
@media screen and (max-width: 576px) {
  .navbar-toggler {
    position: relative;
    right: 20px;
  }
  .footer-menu {
    display: none;
  }
  .footer-logo {
    display: none;
  }
  /* Index */
  .fila-1 {
    justify-content: start;
  }
  .fila-2 {
    justify-content: start;
  }
  .fila-3 {
    justify-content: start;
  }
  .fila-1 img {
    width: 40%;
  }
  .fila-1 h2 {
    display: block;
    text-align: center;
    color: #e7b3b3;
    margin: 0 0 0 10px;
    padding: 0;
    font-size: smaller;
  }
  .fila-1 p {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: smaller;
    width: 240px;
  }

  .fila-2 img {
    width: 40%;
    margin: 0;
    padding: 0;
  }

  .fila-2 h2 {
    display: block;
    text-align: right;
    color: #e7b3b3;
    margin: 0 20px 0 0px;
    padding: 0;
    font-size: smaller;
  }

  .fila-2 p {
    display: inline-block;
    text-align: right;
    margin: 0 20px 0 20px;
    padding: 0;
    font-size: smaller;
    width: 240px;
  }

  .fila-3 img {
    width: 40%;
  }
  .fila-3 h2 {
    display: block;
    text-align: center;
    color: #e7b3b3;
    margin: 0 0 0 10px;
    padding: 0;
    font-size: smaller;
  }

  .fila-3 p {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 20px;
    padding: 0;
    font-size: smaller;
    width: 240px;
  }
  /* Nosotros */
  .grid-container {
    display: block;
    margin: 100px 50px 0 50px;
  }
  .grid-item.one-grid {
    display: none;
  }
  .grid-container-two {
    display: block;
    grid-template-rows: repeat(3);
    grid-template-columns: repeat(1);
    margin: 10px 50px 100px 50px;
    text-align: center;
    gap: 10px;
  }

  .three-grid {
    display: block;
    color: black;
    background-color: #f0efef;
    opacity: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 130px;
    font-family: "Gill Sans MT";
    margin-top: 10px;
  }
  .four-grid {
    display: block;
    color: black;
    background-color: #f0efef;
    opacity: 1;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 130px;
    font-family: "Gill Sans MT";
    margin-top: 10px;
  }
  .five-grid {
    display: block;
    color: black;
    background-color: #f0efef;
    opacity: 1;
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 130px;
    font-family: "Gill Sans MT";
    margin-top: 10px;
  }
}
